
@{
    ViewBag.Title = "主导航文章";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <h5 class="page-title">主导航文章</h5>
</div>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="btn-toolbar">
            <button class="btn btn-primary" id="add" type="button"><i class="icon-plus"></i>新增</button>
        </div>
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:10%">#</th>
                        <th style="width:30%">作品名称</th>
                        <th style="width:50%">部分作品内容</th>
                        <th style="width:20%;text-align:center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<MrHai.BMS.Models.Work.WorkViewModel> list = ViewBag.modelList;
                        int i = 1;
                        foreach (var item in list)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.name</td>
                                <td>@item.subContent</td>                               
                                <td style="text-align:center">
                                    <a href="javascript:void(0)" onclick="Edit('@item.infoID')"><i class="icon-pencil"></i></a>
                                    <a href="javascript:void(0)" onclick="Delete('@item.infoID')" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                                </td>
                            </tr>
                            i++;
                        }

                    }


                </tbody>
            </table>
        </div>
        <div class="pagination" id="pageer">

        </div>

        <footer>
            <hr>
        </footer>

    </div>
</div>
<script type="text/javascript">

    $("#add").click(function () {
        layer.open({
            type: 2,
            title: '主导航文章',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['1000px', '600px'],
            content: '@Url.Action("New")'
        });
    })

     function Edit(id) {
        layer.open({
            type: 2,
            title: '编辑主导航文章',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['1000px', '600px'],
            content: '@Url.Action("New")' + "/" + id
        });
    }

    function Delete(id) {
        layer.confirm('确定删除?', { icon: 3, title: '提示' }, function (index) {
            $.get("@Url.Action("Delete")" + "/" + id, function (data) {
                console.log(data);
                layer.msg(data.result.msg)
                if (data.result.errcode==0) {
                    window.location.reload();
                }

            },"json")
        });
    }
</script>

